@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {}


#root {
  width: 100vw;
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.btn-visible::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #60A5FA;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade-effect {
  
  /* Apply the fading effect */
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  
  /* For older browsers, you may also want to include -webkit-mask-image */
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.move-icon-container .arrow-icon {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
}

.move-icon-container:hover .arrow-icon {
  transform: translate(5px, -5px); /* Adjust pixel values to control the movement */
}

.truncate-text {
  white-space: nowrap; /* Keep the text on a single line */
  overflow: hidden;    /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis when text is too long */
}


